.git
.github
.vscode
.cursor

node_modules
**/node_modules

dist
**/dist
*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
!**/.env.example

*.log
*storybook.log
storybook-static

*.db
*.db-journal
data

.DS_Store
figma-preset
